Options +FollowSymlinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

# Pas d'acces au controllers
<Files ~ "\.controller.php$"> 
 Deny from all
</Files>

# Pas d'acces au templates & layout
<Files ~ "\.tpl.php$"> 
 Deny from all
</Files>